.footer-container {
    height: 300px;
    width: 100%;
    background: black;
    /* background: linear-gradient(#000000, #2c2c2c); */
    /* padding-top: 150px; */
    transform: skewY(2deg);
}

.footer-content {
    transform: skewY(-2deg);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto 10%;
    padding-top: 80px;
}

.company-info {
    /* margin-left: 10%; */
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.company-info p {
    margin: 0;
}

.social-media-container {
    width: 70px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    color: white;
}

.social-media-icon {}

.footer-filler {
    height: 70px;
    margin-top: -30px;
    background: black;
    z-index: 2;
}