.freeloan-container {
        height: fit-content;
        width: 100%;
        position: relative;
        display: flex;
        box-sizing: border-box;
        background: linear-gradient(#f3f3f3, #ffffff);
        /* clip-path: ellipse(100% 100% at 50% 0%); */
        /* border-top: 1px solid black; */
        padding: 50px 0;
        /* transform: skewY(-2deg) */
    
}

.freeloan-content {
    /* transform: skewY(2deg); */
}

.freeloan-title {
    /* text-align: center; */
}