.hero-container {
    height: 650px;
    width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
    /* background: radial-gradient(#7c0505, #000000); */
    /* background: var(--blue, #005D9E);
    background: var(--dark-blue, #123659); */
    background-image: url('../assets/avs-hero1.jpeg');
    /* background-image: url('../assets/coffee-image2.jpeg'); */
    background-position: top;
    background-size: cover;
    /* clip-path: ellipse(100% 100% at 50% 0%); */
    margin-top: -100px;
    padding-top: 165px;
    transform: skewY(2deg);
}
.dark-filter-hero {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: -165px;
    background: black;
    opacity: 0.6;
  }

.hero-content {
    transform: skewY(-2deg);
}


.parallax-text {
    text-align: center;
    height: fit-content;
    font-family: 'Recoleta-Bold';
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    /* color: var(--yellow, #F1CB63); */
    color: white;
    position: absolute;
}

.hero-sub-p {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}