.news-container {
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    /* position: relative; */
    padding-bottom: 70px;
    background: #f6f8ff;
    transform: skewY(-2deg);
}


.news-content {
    max-width: 80%;
    margin: 0 auto; 
    transform: skewY(2deg);
}

.carousel-wrapper {
    position: relative;
    height: fit-content;
    margin-top: 40px;
}


.swiper-container {
    width: 100%;
    position: initial !important;
    display: flex;
    flex-direction: column;
}
.swiper-container img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.swiper-slide {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.swiper-button-next {
    top: 50% !important;
    right: -60px !important;
    left: auto;
    color: black !important;
    transition: 0.3s;
}
.swiper-button-prev {
    top: 50% !important;
    left: -60px !important;
    right: auto;
    color: black !important;
    transition: 0.3s;
}

.swiper-button-disabled {
}

.swiper-button-next:hover {
    transform: translate(5px);
}

.swiper-button-prev:hover {
    transform: translate(-5px);
}


.card-container {
    position: relative;
    border-radius: 15px;
    background: white;
    height: 400px;
    max-width: 350px;
    overflow: scroll;
}

.content-container {
    /* padding-inline: 20px; */
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.news-inner-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.news-inner-container h4{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* .news-inner-container2 {
    display: flex;
    height: 410px;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
} */

.news-inner-container h4 {
    align-self: flex-end;
    font-style: italic;
}

.news-inner-container2 h4 {
    align-self: flex-end;
    font-style: italic;
}

.news-card-title {
    font-family: 'Recoleta-Bold';
    font-size: 25px;
    margin: 0;
}

h4 {
    margin: 0;
}



