.news-container {
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    /* position: relative; */
    padding-bottom: 70px;
    background: rgb(227, 227, 255);
    transform: skewY(-2deg);
}

.news-content {
    max-width: 80%;
    margin: 0 auto; 
    transform: skewY(2deg);
}

.carousel-wrapper {
    position: relative;
    height: fit-content;
}


.swiper-container {
    width: 100%;
    position: initial !important;
    display: flex;
    flex-direction: column;
}
.swiper-container img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.swiper-slide {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.swiper-button-next {
    top: 50% !important;
    right: -60px !important;
    left: auto;
}
.swiper-button-prev {
    top: 50% !important;
    left: -60px !important;
    right: auto;
}

.swiper-button-disabled {
    
}


.card-container {
    /* border: 1px solid lightgrey; */
    border-radius: 15px;
    background: white;
}

.card-container p {
    padding-inline: 20px;
}

.news-inner-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-inline: 20px;
}



