@font-face {
  font-family: 'Recoleta-bold';
  src: url('./assets/Recoleta-Bold.ttf');
}
@font-face {
  font-family: 'Recoleta-light';
  src: url('./assets/Recoleta-Light.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway&display=swap');


.component-content {
  max-width: 50em;
  margin: 0 auto; 
}

.paragraph-title {
  font-size: 50px;
    font-family: 'Recoleta-Bold';
    line-height: 1;
    border-left: 20px solid;
    padding-left: 50px;
}

.paragraph-text {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.paragraph-text span {
  font-size: 30px;
  font-family: 'Recoleta-Bold';
  font-weight: bold;
  letter-spacing: 0.5px;
}

a {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}

button {
  transition: 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 0px -7px #000000; 
  box-shadow: 0px 15px 0px -7px #000000;
}

button:hover {
  transform: translateY(10px);
  box-shadow: none;
  border: 1px solid rgb(78, 255, 87);
  /* transform: skew(20deg); */
}

